@import '../src/styles/custom.less';
blockquote {
  p {
    padding: 10px 0px;
  }
}
h2 {
}
h3 {
  padding: 0px 0px 10px;
  color: tint(#222428, 15%);
}
h4 {
  padding: 0px 0px 10px;
  color: tint(#222428, 20%);
}
h5 {
  padding: 0px 0px 10px;
  color: tint(#222428, 25%);
}
.ion-ios-checkmark-circle-extra {
  margin-right: 10px;
  color: @primary-color;
}
