@import '../src/styles/custom.less';
blockquote {
  p {
    padding: 10px;
  }
}
p {
  padding: 10px;
  padding-top: 0;
}
h2 {
  color: @Dark-color;
}
h3 {
  padding: 0px 0px 10px;
  color: tint(@Dark-color, 20%);
  font-weight: 400;
}
h4 {
  padding: 0px 0px 10px;
  padding-left: 10px;
  color: tint(@Dark-color, 35%);
  font-weight: 400;
}
h5 {
  padding: 0px 0px 10px;
  padding-left: 10px;
  color: tint(@Dark-color, 50%);
  font-weight: 400;
}
.ion-ios-checkmark-circle-extra {
  margin-right: 10px;
  color: @primary-color;
}
.ion-ios-copy-extra {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
.success-cls {
  color: @success-color;
}
code {
  font-family: @code-family;
  font-size: 13px;
  padding: 1em !important;
  line-height: 1.5;
  color: shade(@Medium-color, 30%) !important;
  margin-bottom: 10px;
  background-color: @Light-color!important;
}
.demo-block-code {
  position: relative;
}
section {
  .table {
    // border: 1px solid #f3f7fa;
    width: 100%;
    background-color: #fff;
    color: #5e6d82;
    font-size: 14px;
    border-collapse: collapse;
    overflow: auto;
    thead,
    tbody {
      border: 1px solid shade(@Light-color, 5%);
    }
    thead {
      border-bottom: none;
    }

    th,
    td {
      padding: 10px 8px;
    }
    th {
      background-color: shade(@Light-color, 2%);
    }
  }
}
